{% extends 'admin.twig' %}
{% block title %} Dashboard {% endblock %}
{% block description %}{% endblock %}

{% block content %}


    <div>
        <div class="container mb-4">
            <div class="row">
                <div class="col-md-8">
                    <h2>Camps</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">

                {% for camp in camps %}
                    <div class="col-md-3">
                        <div class="card">


                            <h6 class="card-header bg-primary">
                                {{ camp.name }}
                            </h6>
                            <div class="description">
                                <div class="card-body">
                                    <p class="card-text">duration : {{ camp.duration }}</p>
                                    <p class="description">price : {{ camp.price }}</p>
                                    <h6>Features</h6>
                                    <p>{{ camp.feature_1 }}</p>
                                    <p>{{ camp.feature_2 }}</p>
                                </div>
                            </div>

                            <div class="card-footer text-muted">
                                <a href="/admin/camps/{{ camp.id }}/edit">edit</a>
                            </div>

                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}