{% extends 'base.twig' %}
{% block title %}Personal Trainer ~ Phil Dillon ~ Home{% endblock %}
{% block description %}Personal Trainer based out of Northwood Gym. Prices from 30euro per session and free 30min consultation. {% endblock %}

{% block content %}
    {% include 'navbar.twig' %}

    <div class="page-header page-header-lg" style="background-image: url('/img/phil_2.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="motto text-center">
                {#<h1>Phil Dillon Fitness</h1>#}
                <h1>Personal Trainer<br>&<br> Fitness Instructor</h1>
                <br/>
                <p class="p-3">Get your free 30min fitness assessment</p>
                <a href="/contact" class="btn btn-outline-neutral btn-round">Book Now</a>
            </div>
        </div>
    </div><!-- end page-header -->
    <div class="main">
        <div class="alert alert-danger">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8 p-">
                        <h6>{{ camp.name }} camp</h6>
                        <p>
                            {{ camp.duration }} week camp only &euro;{{ camp.price }}!<br>
                            {{ camp.feature_1 }}<br>
                            {{ camp.feature_2 }}
                        </p>
                    </div>
                    <div class="col-12 col-md-4 p-3">
                        <a href="/pricing" class="btn btn-default">More Details</a>
                    </div>
                </div>
            </div>
        </div><!-- end alert -->
        <div class="section text-center">
            <h2 class="title">Pricing</h2>
            <div class="container">
                <div class="row">

                    <div class="col-12 col-md-6">

                        <p>I cater for individuals and groups of 2 with a flexible approach to the classes. With prices from &euro;30 per session (when you
                            book 6 or more), you'll get great value and great results!</p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p>I also provide realistic training programs and food plans as part of my service.</p>
                    </div>

                    <br><br>


                </div>
                <div class="row align-items-center p-4">
                    <div class="col">
                        <a href="/pricing" class="btn btn-dark">More Details</a>
                    </div>

                </div>
                <div class="row p-4">
                    <div class="col-md-4 m-4 m-md-0">
                        <div class="info">
                            <div class="bg-primary p-3">
                                <img src="/img/icons8-fitness.png" class="bg-primary"/>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Training</h4>
                                <p class="description">A combination of cardiovascular and resistance training.</p>
                                {#<a href="#pkp" class="btn btn-link btn-danger">See more</a>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 m-4 m-md-0">
                        <div class="info">
                            <div class="bg-danger p-3">
                                <img src="/img/icons8-gym.png" alt="gym icon">
                            </div>
                            <div class="description">
                                <h4 class="info-title">Nutrition</h4>
                                <p>I place a lot of emphasis on nutrition and am highly knowledgeable in this area.</p>
                                {#<a href="#pkp" class="btn btn-link btn-danger">See more</a>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 m-4 m-md-0">
                        <div class="info">
                            <div class="bg-success p-3">
                                <img src="/img/icons8-sports-mode.png" alt="sports icon">
                            </div>
                            <div class="description">
                                <h4 class="info-title">Results</h4>
                                <p>I monitor your fitness and provide measurements for body weight and body fat every 2 weeks.</p>
                                {#<a href="#pkp" class="btn btn-link btn-danger">See more</a>#}
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- end container -->
        </div><!-- end section -->


        <div class="section section-dark text-center">
            <div class="container">
                <h2 class="title">Let's talk about me</h2>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="img/phil_profile.jpg" alt="..."></a>
                            </div>
                            <div class="card-body">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Phil Dillon</h4>
                                        <h6 class="card-category">Personal Trainer</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    Im a personal trainer who is passionate about what i do, placing a lot of emphasis on nutrition and long-term fitness goals.
                                </p>

                            </div>
                            <div class="card-footer text-center">
                                <button type="button" class="btn btn-outline-default btn-round" data-toggle="modal" data-target="#myModal">
                                    My Profile
                                </button>
                                {#<a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>#}
                                {#<a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>#}
                                {#<a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>#}
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-4">
                    <!-- Sharingbutton Facebook -->
                    <a class="resp-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsharingbuttons.io" target="_blank"
                       aria-label="Share on Facebook">
                        <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--large">
                            <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path d="M12 0C5.38 0 0 5.38 0 12s5.38 12 12 12 12-5.38 12-12S18.62 0 12 0zm3.6 11.5h-2.1v7h-3v-7h-2v-2h2V8.34c0-1.1.35-2.82 2.65-2.82h2.35v2.3h-1.4c-.25 0-.6.13-.6.66V9.5h2.34l-.24 2z"/>
                                </svg>
                            </div>
                            Share on Facebook
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="section landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="text-center">Keep in touch?</h2>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                    <div class="input-group">
	                                        <span class="input-group-addon">
	                                            <i class="nc-icon nc-single-02"></i>
	                                        </span>
                                        <input type="text" class="form-control" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <div class="input-group">
											<span class="input-group-addon">
												<i class="nc-icon nc-email-85"></i>
											</span>
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <label>Message</label>
                            <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                            <div class="row">
                                <div class="col-md-4 ml-auto mr-auto">
                                    <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Profile Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">My Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Info</h6>
                    <p>
                        Im phil dillon, a personal trainer. I have a B.Sc(hons) in Sports Health & Physical Education from the University of
                        Wales as well as two ITEC qualifications in personal training and fitness instructing.
                    </p>
                    <h6>Influences</h6>
                    <p>
                        My Father is a world champion power-lifter for Ireland (Austria 2007) and is still lifting 40 years later. As a child, i grew up
                        around the gym and from there developed my love for training and staying fit. Ive also been involved in numerous sports while growing
                        up: Power-lifting, football, hurling, soccer, cross-country and badminton.
                    </p>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end profile modal -->

{% endblock %}