{% extends 'base.twig' %}
{% block description %}{% endblock %}
{% block title %}{% endblock %}
{% block content %}
    {% include 'navbar.twig' %}

    <div class="page-header page-header-lg" style="background-image: url('/img/phil_2.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="motto text-center">
                <h1>Personal Trainer</h1>

                <br/>
                <h6 class="p-3">Pricing</h6>
                <p>Competitive pricing packages available</p>
                {#<a href="/contact" class="btn btn-outline-neutral btn-round">Book Now</a>#}
            </div>
        </div>
    </div>
    <div class="main">
    <div class="section text-center">
        <div class="container">

            <br/><br/>
            {#<div class="row p-4">#}
            {#<div class="col-md-4 m-4 m-md-0">#}
            {#<div class="info">#}
            {#<div class="icon icon-danger">#}
            {#<img src="/img/icons8-fitness.png"/>#}
            {#</div>#}
            {#<div class="description">#}
            {#<h4 class="info-title">Training</h4>#}
            {#<p class="description">A combination of cardiovascular and resistance training.</p>#}
            {#<a href="#pkp" class="btn btn-link btn-danger">See more</a>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            {#<div class="col-md-4 m-4 m-md-0">#}
            {#<div class="info">#}
            {#<div class="icon icon-danger">#}
            {#<img src="/img/icons8-gym.png" alt="gym icon">#}
            {#</div>#}
            {#<div class="description">#}
            {#<h4 class="info-title">Nutrition</h4>#}
            {#<p>I place a lot of emphasis on nutrition and am highly knowledgeable in this area.</p>#}
            {#<a href="#pkp" class="btn btn-link btn-danger">See more</a>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            {#<div class="col-md-4 m-4 m-md-0">#}
            {#<div class="info">#}
            {#<div>#}
            {#<img src="/img/icons8-sports-mode.png" alt="sports icon">#}
            {#</div>#}
            {#<div class="description">#}
            {#<h4 class="info-title">Results</h4>#}
            {#<p>I monitor your fitness and provide measurements for body weight and body fat every 2 weeks.</p>#}
            {#<a href="#pkp" class="btn btn-link btn-danger">See more</a>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}

            {#</div>#}
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">Pricing</h2>
                    <h5 class="description p-3">
                        I have a flexible price structure for all my classes -
                    </h5>
                </div>
            </div>
            <div class="container">

                    <div class="card-deck">

                        <div class="card">
                            <div class="card-img-top bg-primary p-3">

                                <h4 class="card-title">Solo</h4>

                            </div>
                            <div class="card-body">
                                <div class="description">

                                    <p class="card-text">Tailored nutritional plan</p>
                                    <p class="card-text">Guidance for additional training done during the week</p>
                                    <p class="description">Individual training session</p>

                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                &euro;35 per session or &euro;180 for 6
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-img-top bg-danger p-3">

                                <h4 class="card-title">Group</h4>
                            </div>
                            <div class="card-body">
                                <div class="description">

                                    <p class="card-text">Share the cost and bring a friend</p>
                                    <p class="card-text">Tailored nutritional plans for both clients</p>
                                    <p class="description">2 people can motivate each other getting better results</p>
                                </div>

                            </div>
                            <div class="card-footer text-muted">
                                &euro;40 per session or &euro;240 for 6
                            </div>
                        </div>
                        {#</div>#}
                        {#<div class="col-md-4 m-4 m-md-0">#}
                        <div class="card">
                            <div class="card-img-top bg-success p-3">
                                {#<img src="/img/icons8-sports-mode.png" alt="sports icon">#}
                                <h4 class="card-title">Camps</h4>
                            </div>
                            <div class="card-body">
                                <div class="description">
                                    {#<h4 class="card-title">Camps</h4>#}
                                    <h6 class="card-t">{{ camp.name }}</h6>
                                    <p class="card-text">{{ camp.duration }} week camp</p>
                                    <p class="card-text">{{ camp.feature_1 }}</p>
                                    <p class="card-text">{{ camp.feature_2 }}</p>

                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                &euro;{{ camp.price }} (payable in 2 installments)
                            </div>
                        </div>
                        {#</div>#}
                    {#</div>#}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="/contact" class="btn btn-default">Book a class</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}