{% extends 'admin/admin.twig' %}
{% block title %} Dashboard {% endblock %}
{% block description %}{% endblock %}

{% block content %}

    <div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-4">
                    <h6>Camps</h6>
                    <p>Your currently active camp is highlighted in blue.</p>
                    {% if session_get('status') %}
                        <div class="alert alert-success" role="alert">
                            {{ session_get('status') }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-8">
                {% for camp in camps %}

                    <ul class="list-group pb-3">
                        <li class="list-group-item {% if camp.active == 1 %}active{% endif %}">
                            <h5>{{ camp.name }}</h5>
                        </li>
                        <li class="list-group-item">duration : {{ camp.duration }}</li>
                        <li class="list-group-item">price : {{ camp.price }}</li>
                        <li class="list-group-item">feature 1 : {{ camp.feature_1 }}</li>
                        <li class="list-group-item">feature 2 :{{ camp.feature_2 }}</li>
                        <li class="list-group-item">active
                            : {% if camp.active == 1 %}yes{% elseif camp.active == 0 %}no{% endif %}</li>
                        <li class="list-group-item d-flex justify-content-between
                align-items-center">
                            <a class="btn btn-outline-info" href="{{ route('camps.edit' ,
                            [camp.id] ) }}">Edit</a>
                            {{ form_open({ route: ['camps.destroy', camp.id], 'method':
                                'DELETE'}) }}
                            {{ form_submit('delete', {'class': 'btn btn-outline-danger'}) }}
                            {{ form_close() }}
                        </li>

                    </ul>

                {% endfor %}
                </div>
            </div>


        </div>
    </div>


{% endblock %}