{% extends 'admin/admin.twig' %}
{% block title %} Dashboard {% endblock %}
{% block description %}{% endblock %}

{% block content %}
    <div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-4">
                    <h6>Create a new Camp</h6>

                <p>Dont forget to activate your chosen camp.</p>
                </div>



        <div class="col-md-8">

            {{ form_open({ route: ['camps.store'], 'method': 'POST'}) }}

            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form_label('name', 'name') }}
                    {{ form_text('name', null,
                    {
                        'class': 'form-control',
                        'placeholder': 'camp name',
                        'required': 'true'
                    }) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_label('duration', 'duration') }}
                    {{ form_number('duration', null, {'class': 'form-control', 'placeholder': '8',
                        'required': 'true'}) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_label('price', 'price') }}
                    {{ form_number('price', null, {'class': 'form-control', 'placeholder': '450',
                        'required': 'true'}) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_label('feature_1', 'feature_1') }}
                    {{ form_textarea('feature_1', null, {'class': 'form-control', 'placeholder':
                        'your first feature', 'required': 'true'}) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_label('feature_2', 'feature_2') }}
                    {{ form_textarea('feature_2', null, {'class': 'form-control', 'placeholder':
                        'your first feature', 'required': 'true'}) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_label('active', 'active') }}
                    {{ form_text('active', null,
                    {
                        'class': 'form-control',
                        'placeholder': '1 or 0',
                        'required': 'true'
                    }) }}
                </div>
                {{ form_submit('save', {'class': 'btn btn-danger'}) }}
                {{ form_close() }}

            </div>
        </div>
    </div>


    </div>


{% endblock %}