{% extends 'admin/admin.twig' %}
{% block title %} Dashboard {% endblock %}
{% block description %}{% endblock %}

{% block content %}
    <div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-4">
                    <h6>Edit Camps</h6>
                    <p>You can edit your chosen camp here.</p>
                </div>
                <div class="col-md-8">
                    {{ form_open({ route: ['camps.update', camp.id], 'method': 'PUT'}) }}
                    {#{{ method_field('PUT') }}#}
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form_label('name', 'name') }}
                            {{ form_text('name', camp.name, {'class': 'form-control', 'placeholder': 'camp name', 'required': 'true'}) }}
                        </div>
                        <div class="form-group col-md-12">
                            {{ form_label('duration', 'duration') }}
                            {{ form_number('duration', camp.duration, {'class': 'form-control', 'placeholder': '8', 'required': 'true'}) }}
                        </div>
                        <div class="form-group col-md-12">
                            {{ form_label('price', 'price') }}
                            {{ form_number('price', camp.price, {'class': 'form-control', 'placeholder': '450', 'required': 'true'}) }}
                        </div>
                        <div class="form-group col-md-12">
                            {{ form_label('feature_1', 'feature_1') }}
                            {{ form_textarea('feature_1', camp.feature_1, {'class': 'form-control', 'placeholder': 'your first feature', 'required': 'true'}) }}
                        </div>
                        <div class="form-group col-md-12">
                            {{ form_label('feature_2', 'feature_2') }}
                            {{ form_textarea('feature_2', camp.feature_2, {'class': 'form-control', 'placeholder': 'your first feature', 'required': 'true'}) }}
                        </div>
                        <div class="form-group col-md-12">
                            {{ form_label('active', 'active') }}
                            {{ form_text('active', camp.active,
                            {
                                'class': 'form-control',
                                'placeholder': '1 or 0',
                                'required': 'true'
                            }) }}
                        </div>
                        <div class="form-group">
                            {{ form_submit('save', {'class': 'btn btn-danger'}) }}

                        </div>
                        {{ form_close() }}

                    </div>

                </div>
            </div>



        </div>


    </div>


{% endblock %}